
            /*滚动条宽度*/
        ::-webkit-scrollbar{width: 0px;
                            height: 5px;}
            /*滚动条按钮样式*/
        ::-webkit-scrollbar-thumb{border-radius: 10px;
                                  background-color: #f1f1f1;}
            /*滚动条背景样式*/
        ::-webkit-scrollbar-track{border-radius: 10px;}

        body{background-color: white;
            font-family: MiSans VF, sans-serif;
            font-style: normal;
            font-color:#3E3A39;
            align-items: center;
            cursor:pointer;
            overflow-x: hidden;
        margin:0px;}

        .size1{font-size:60px;
          line-height:90px;
          font-weight: 330;}
            
        .size2{font-size:48px;
          line-height:60px;
          font-weight: 330;}

        .size3{font-size:30px;
          line-height:45px;
          font-weight: 330;}

        .size4{font-size:24px;
          line-height:36px;
          font-weight: 330;}

        .size5{font-size:20px;
          line-height:30px;
          font-weight: 330;}

        .size6{font-size:16px;
          line-height:24px;
          font-weight: 330;}

        .size7{font-size:12px;
          line-height:18px;
          font-weight: 330;}

        .page1{display:flex;
            flex-direction: row;
            /* height:95vh; */
                padding-top: 50px;
                padding-bottom: 50px;
                padding-left:5vw;
                padding-right:5vw;
            background-color:#F5F5F5;
            align-items:center;
            justify-content: center;
            gap:20px;
            position:relative;
        z-index:2;}
            
        .page1left{margin-left:5vw;
        flex:0.6;}
        .page1right{flex:1.4;}

        .page0{display:flex;
            flex-direction: row;
            width: 95vw;
            justify-content: flex-end;
                padding-right:5vw;
            background-color:rgba(245, 245, 245, 0.80);
            border-bottom: 1px solid #3E3A3966;
            align-items:center;
            gap:20px;
            height: 60px;
            position:fixed;
        z-index:1;}

        .page0left{
            padding-top: 15px;
            border-top: 3px solid transparent;
            margin-left:5vw;
            position:fixed;
        z-index:2;}

        .page0right1,.page0right2,.page0right3{
            height:57px;
            border-top: 3px solid transparent;}

        .page0right4{margin-top:3px;}
            
            
            .button1{margin-top: 0px;}


        /* .backtotop{
            margin-top: 90vh;
            margin-left: 90vw;
            position: fixed;
            z-index: 1;}

        .img3{width:5vw;
        min-width:40px;} */


        .logo{max-width:200px;
                width:15vw;}
        .img1{max-width:800px;
                width:55vw;}
    
        .button{display:flex;
            width: 90px;
                height: 30px;
                /* padding: 5px 10px; */
                    justify-content: center;
                    align-items:center;
                border-radius: 60px;
                border: 1px solid #3E3A39;}


        .line1{width:100vw;
        height:1px;
        background-color:#3E3A3966;}

        .line2{width:100vw;
        height:1px;
        background-color:#3e3a3966;}

        .content1{margin-left:5vw;}

        .content0border{display:flex;
            margin-left:5vw;
            width:90vw;
            padding-top: 10px;
            padding-bottom: 10px;
            align-items:center;
            border-left:1px solid #3E3A3966;
        border-right:1px solid #3E3A3966;}

        .content1border{display:flex;
            margin-left:5vw;
            width:90vw;
            padding-bottom: 10px;
            align-items:center;
            border-left:1px solid #3E3A3966;
        border-right:1px solid #3E3A3966;}

        .content2border{display:flex;
            margin-left:5vw;
            width:90vw;
            padding-top: 50px;
            padding-bottom: 50px;
            align-items:center;
            justify-content: center;
            border-left:1px solid #3E3A3966;
        border-right:1px solid #3E3A3966;}

        .img0{    margin-left: 4vw;
            display: block;
            width: 2vw;
            margin-top: -1vw;}
        .img00{    margin-left: 94.1vw;
            display: block;
            width: 2vw;
            margin-top: -2vw;}

        .img2{
                max-width:800px;
                width:80vw;}

        .img4{width:25vw;}
        
        .img5{width:20px;}

        .img6{width:40vw;
        margin-top:-20px;}

        .img7{width:90px;}

        /* 分割线 */

        .content3{flex:1;
            width: 80vw;
        display: flex;
        overflow-y: scroll;
        position: sticky;
        top: 0;
        overflow: hidden;
        gap: 10px;}

        .content3border{display:flex;
            margin-left:5vw;
            margin-top:-1vw;
            width:90vw;
            align-items:center;
            justify-content: center;
            border-left:1px solid #3E3A3966;
        border-right:1px solid #3E3A3966;}

        .content3left{display: flex;
            gap: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            flex: 1;
            flex-direction: column;
        border-right: 1px solid #3E3A3966;}

        .content3right{display: grid;
            flex: 1;
            padding-top: 50px;
            padding-bottom: 50px;
            align-items: center;
            justify-content: center;
            border-left: 1px solid #3E3A3966;
            background-color: white}

        .content3left0{display: flex;
            align-items: flex-start;
            margin-left: 4.5vw;
            word-break: break-all;}

        .content3left1{word-break: break-all;}

        .content3leftv1{display: flex;
            flex-direction: row;
            gap: 20px;
            margin-right:20px;}

        .content3leftv2,.content3leftv3,.content3leftv4{display: flex;
            flex-direction: row;
            gap: 20px;
            margin-right:20px;
            border-left: 0.2vw solid transparent;}

.content4border{display:flex;
            margin-left:5vw;
            width:90vw;
            padding-top: 20px;
            padding-bottom: 100px;
            align-items:center;
            justify-content: center;
            border-left:1px solid #3E3A3966;
        border-right:1px solid #3E3A3966;}

        .content4{display:flex;
            width: 80vw;}

        .content4left{flex:1.4;}
        .content4right{flex: 0.6;}

        .content4left0,.content4left1,.content4left2{display: flex;
            align-items: center;
            /* white-space: nowrap; */
            word-break: break-all;
            /* text-align-last: justify; */
            gap: 20px;}

        .content4left2{display: flex;
            align-items: flex-start;}

            .wrap{white-space: nowrap;}
            .wrap0{padding-top:18px;}
            .wrap2{color:#fafafa;opacity:0.6;}
            .wrap4{color:#3E3A3966;
            margin-top:-15px;}
        
        .content5border{padding-left: 5vw;
            color: #fafafa;
            padding-top: 20px;
            padding-bottom: 50px;
            background-color: #3E3A39;
        position:relative;
        z-index:2;}

        .content5left0{display: flex;
            margin-top: -30px;
            align-items: center;
            word-break: break-all;
            gap: 20px;}

        .content6border{padding-left: 5vw;
            color: #fafafa;
            padding-top: 20px;
            padding-bottom: 10px;
            background-color: #3E3A39;
        position:relative;
        z-index:3;}

        .content6left{display: flex;
            word-break: break-all;
            gap: 20px;}

        .content6left0,.content6left1{flex:0.5;}
        .content6right1{flex:1;}



        .button2{display:flex;
            width: 90px;
                height: 30px;
                /* padding: 5px 10px; */
                    justify-content: center;
                    align-items:center;
                border-radius: 60px;
                background-color:#fafafa;
                color:#3E3A39;
                border: 1px solid #fafafa;}
            
